*{
  box-sizing: border-box;
}

#selectContainer{
  width: 200px;
  height: 30px;
  margin: 20px auto;
  text-align: center;
}

.selectCharacter{
  width: 50%;
  height: 100%;
  display: inline-block;
  float: left;
  padding: 5px;
}

input{
  display: none;
}

#map{
  width: 300px;
  height: 300px;
  text-align: center;
  font-size: 0;
  margin: 20px auto;
}

div button{
  width: 33.33%;
  height: 33.33%;
  border: 0;
  padding: 10px;
  background-color: white;
}

.bottomBorder{
  border-bottom: 4px solid black;
}

.rightBorder{
  border-right: 4px solid black;
}

#restart{
  display: block;
  margin: auto;
  font-size: 18px;
}

p{
  text-align: center;
  font-size: 24px;
}

@media only screen and (max-width: 768px){
  #selectContainer{
    width: 80vw;
  }

  #map{
    width: 80vw;
    height: 80vw;
    margin-top: 0;
  }
}
