*{
  box-sizing: border-box;
  font-family: arial;
}

#map{
  width: 800px;
  height: 600px;
  margin: 20px auto;
  border: 1px solid black;
  padding-top: 50px;
  text-align: center;
  background-image: url("images/grass.png");
  background-size: contain;
  position: relative;
}

#startPage{
  width: 100%;
  height: 100%;
  line-height: 600px;
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/grass.png");
  background-size: contain;
  display: inline-block;
  font-size: 100px;
  color: #2b1e1d;
}

#start{
  width: 100px;
  height: 75px;
  font-size: 30px;
}

p{
  width: 49%;
  height: 50px;
  line-height: 50px;
  margin: 0;
  font-size: 30px;
  padding: 0 100px;
  display: inline-block;
  color: #2b1e1d;
}

#time{
  text-align: left;
}

#score{
  text-align: right;
}

#map button:not(#start){
  margin: 20px 60px;
  width: 120px;
  height: 100px;
  border: none;
  background-color: transparent;
  padding: 0;
  position: relative;
}

svg{
  position: absolute;
  left: 0;
  top: 50%;
}

.mole{
  width: 83.33%;
  height: 100%;
  position: absolute;
  left: 8.33%;
  top: 8.33%;
  overflow: hidden;
}

img{
  position: relative;
  display: block;
}

#selectDifficulty{
  font-size: 18px;
  text-align: center;
}

#difficulty{
  font-size: 18px;
}

#restart{
  font-size: 18px;
  margin-left: 20px;
}

@media only screen and (max-width: 768px){
  body{
    margin: 0;
  }

  #map{
    width: 95vw;
    height: 75vh;
    padding-top: 8vh;
  }

  p{
    height: 8vh;
    line-height: 8vh;
    margin-bottom: 1vh;
    padding: 0 30px;
    font-size: 20px;
  }

  #map button:not(#start){
    width: 20vw;
    height: 17vw;
    margin: calc((16vh - 17vw) / 2) 3vw;
  }
}
